<p id="notice"><%= notice %></p>

<h1>保存されたレシピ一覧</h1>

<p>
<%= link_to '新しくレシピを作成する', new_recipe_path, class: 'btn btn-warning' %>
</p>
<div class="col-md-12" >
  <div class="card-columns"> 
  <% @recipes.each do |recipe| %>
    <div class="card" >
    <!-- <div class="card" style="width: 20rem;"> -->
      <% if not recipe.myphoto.blank? %>
        <%= image_tag recipe.myphoto, class: "card-img-top img-fluid recipe-index" %>
      <% elsif not recipe.photo.blank? %>
        <%= image_tag recipe.photo, class: "card-img-top img-fluid recipe-index" %>
      <% end %>
      <div class="card-block">
        <!-- <h4 class="card-title">Card title</h4> -->
        <h6 class="card-subtitle mb-2 text-muted" style="display: inline-block">
          <%= recipe.title %> 
        </h6>
        <p class="card-text">
          <%= recipe.memo %>
        </p>
        <%= link_to 'Show', recipe, class: "btn btn-warning" %>
        <% if recipe.user == current_user %>
          <%= link_to 'Edit', edit_recipe_path(recipe) , class: "btn btn-warning"%>
        <% end %>
      </div>
    </div>
  <% end %>
  </div> 
</div>


<br>
