<p id="notice"><%= notice %></p>

<H1>
  <%= @recipe.title %>
</h1>
<p>
  <% unless @recipe.extlink.blank? %>
    <%= link_to "クックパッドへのリンク", @recipe.extlink %>
  <% end %>
</p>

<p>
  <h5>材料</h5>
  <table>
    <tbody>
      <% @recipe.ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.article %></td>
        <td><%= ingredient.quantity %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @recipe.recipe %>
</p>

<% if not @recipe.myphoto.blank? %>
  <%= image_tag @recipe.myphoto, class: "card-img-top img-fluid recipe-index" %>
<% elsif not @recipe.photo.blank? %>
  <%= image_tag @recipe.photo, class: "card-img-top img-fluid recipe-index" %>
<% end %>

<p>
  <strong>Memo:</strong>
  <%= @recipe.memo %>
</p>

<% if @recipe.user == current_user %>
  <%= link_to '編集', edit_recipe_path(@recipe), class: 'btn btn-warning'%> |
  <%= link_to '削除', @recipe, method: :delete, 
      data: { confirm: '削除してもいいですか?' }, class: "btn btn-danger" %>
<% end %>

<%= link_to '戻る', recipes_path, class: 'btn btn-warning' %>

