<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Ingredient:</strong>
  <table>
    <thead>
    <tr>
      <th>Article</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
      <% @recipe.ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.article %></td>
        <td><%= ingredient.quantity %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @recipe.recipe %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @recipe.photo %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @recipe.memo %>
</p>

<p>
  <strong>Extlink:</strong>
  <%= @recipe.extlink %>
</p>

<% if @favorite.present? %>
  <%= link_to 'お気に入り解除する', favorite_path(recipe_id: @recipe.id), method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= link_to 'お気に入りする', favorites_path(recipe_id: @recipe.id), method: :post, class: 'btn btn-primary' %>
<% end %>
<% if @recipe.user == current_user %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>

<%= link_to 'Back', recipes_path %>
