<% @dishes.each do |dish| %>
<div class="card" >
  <div class="card-block">
    <h5 class="card-subtitle mb-2 text-muted" >
      <%= link_to dish['title'], dish['extlink'] %> 
    </h5>
    <%= image_tag dish['img'], class: "card-img-top" %>
    <h6 class="card-subtitle mb-2 text-muted">
      <%= dish['description'] %>
    </h6>
    <p class="card-text">
      <%= dish['ingredients'] %>
    </p>
    <p class="card-text">
      <%= link_to 'アレンジしてレシピに登録', new_recipe_path() + "?extlink=" + dish['extlink'] %>
    </p>
  </div>
</div>
<% end %>