<%= form_with(model: foodstock, local: true) do |form| %>
  <% if foodstock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foodstock.errors.count, "error") %> prohibited this foodstock from being saved:</h2>

      <ul>
      <% foodstock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">食材名</label>
    <div class="col-sm-6">
      <%= form.text_field :article, id: :foodstock_article, class: "form-control" %>
    </div>
  </div>

  <div class="form-groups row">
    <label class="col-sm-2 col-form-label">数量</label>
    <div class="col-sm-4 col-4">
      <%= form.text_field :quantity, id: :foodstock_quantity, class: "form-control" %>
    </div>
    <div class="form-inline">
      <%= form.collection_select :unit_id, Unit.all, :id, :unit, {prompt: false}, {class: "form-control"} %>
    </div>
  </div>
  <p></p>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">賞味期限</label>
    <%= form.date_select :beforedate, id: :foodstock_beforedate, :use_month_numbers => true, class: "form-control" %>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">購入日</label>
    <%= form.date_select :buyingdate, id: :foodstock_buyingdate, :use_month_numbers => true %>
  </div>

  <div class="actions form-group">
    <%= form.submit "食材を追加" %>
  </div>
<% end %>
