<p id="notice"><%= notice %></p>

<h1>食材一覧</h1>
<%= link_to '食材を追加', new_foodstock_path %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>品目</th>
      <th colspan="2">数量</th>
      <th>賞味期限</th>
      <th>購入日</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @foodstocks.each do |foodstock| %>
      <tr>
        <td><input type="checkbox" name="ingredient" value="<%= foodstock.article %>"></td>
        <td><%= foodstock.article %></td>
        <td><%= foodstock.quantity %></td>
        <td><%= foodstock.unit.unit %></td>
        <td><%= foodstock.beforedate %></td>
        <td><%= foodstock.buyingdate %></td>
        <td><%= link_to '編集', edit_foodstock_path(foodstock) %></td>
        <td><%= link_to '削除', foodstock, method: :delete, data: { confirm: '削除していいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>↑チェックを入れた食材で検索</p>
<%= form_tag('dishes', :method => :post, :id => 'dishes-form', remote: true) do |form| %>
<input type='text' id="keyword" size="40" placeholder="検索キーワード(カレー、うどん、中華風...など)">
<input type="button" value="クックパッドで検索" onclick="searchCookpad()"/>
<% end %>
<span class="text-warning" id="search_error"></span>
<span id="result"></span>

<div class="col-md-12" >
  <div class="card-columns" id="dishes"> 
  </div>
</div>