<p id="notice"><%= notice %></p>

<h1>食材一覧</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Article</th>
      <th colspan="2">Quantity</th>
      <th>Beforedate</th>
      <th>Buyingdate</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @foodstocks.each do |foodstock| %>
      <tr>
        <td><input type="checkbox" name="ingredient" value="<%= foodstock.article %>"></td>
        <td><%= foodstock.article %></td>
        <td><%= foodstock.quantity %></td>
        <td><%= foodstock.unit.unit %></td>
        <td><%= foodstock.beforedate %></td>
        <td><%= foodstock.buyingdate %></td>
        <td><%= link_to '編集', edit_foodstock_path(foodstock) %></td>
        <td><%= link_to '削除', foodstock, method: :delete, data: { confirm: '削除していいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '食材を追加', new_foodstock_path %>

<input type="button" value="クックパッドで検索" onclick="searchCookpad()"/>
<span id="result2"></span>