<p id="notice"><%= notice %></p>

<p>
  <strong>食材名:</strong>
  <%= @foodstock.article %>
</p>

<p>
  <strong>数量:</strong>
  <%= @foodstock.quantity.to_s + @foodstock.unit.unit %>
</p>

<p>
  <strong>賞味期限:</strong>
  <%= @foodstock.beforedate %>
</p>

<p>
  <strong>購入日:</strong>
  <%= @foodstock.buyingdate %>
</p>

<%= link_to '編集', edit_foodstock_path(@foodstock) %> |
<%= link_to '戻る', foodstocks_path %>
