<!DOCTYPE html>
<html>
  <head>
    <title>SousCOOK</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css' />
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <% if current_page?(:controller => 'sessions', :action => 'new') %>
  <body class="login_bg">
  <% else %>
  <body>
    <div style="width:100%">
    <nav class="navbar navbar-toggleable-md navbar-inverse navbar-ym">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">SousCOOK</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <%= 
              link_to "Foodstocks", foodstocks_path, class: "nav-link"
            %>
          </li>
          <li class="nav-item active">
            <%= 
              link_to "Recipes", recipes_path, class: "nav-link"
            %>
          </li>
          <% if logged_in? %>
            <li class="nav-item active">
              <%= link_to current_user.name, user_path(current_user.id), class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Logout", session_path(current_user.id), method: :delete, class: "nav-link"%>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to "Sign up", new_user_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
            <%= link_to "Login", new_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    </div>
  <% end %>
    <div class="container">
      <%= yield %>
    </div>
  <% unless current_page?(:controller => 'sessions', :action => 'new') %>
  　<footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright © 2018 Tomoyuki YAMAZAKI/2017-09 ALL RIGHTS RESERVED</p>
      </div>
    </footer>
  <% end %>
  </body>
</html>
